legend {
  color: brown;
  display: inline-table;
}

form,
fieldset,
.field-block {
  display: flex;
  flex-direction: column;
}

button {
  box-sizing: border-box;
}

body {
  background-color: cornflowerblue;
}

main {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

form {
  width: 400px;
  background-image: linear-gradient(bisque, peru);
  padding: 25px 30px;
  border-radius: 15px;
  gap: 20px;
}

form :is(input, textarea) {
  width: 100%;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: brown;
  border-radius: 15px;
}

input:not([type=file]),
textarea {
  box-sizing: border-box;
  padding: 8px;
  border: none;
  border-radius: 6px;
}

input:not([type=file]),
textarea,
.addition-list-controls button {
  border-radius: 6px;
}

/* Выделить в компонент */
.addition-list-controls {
  display: flex;
  align-items: stretch;
  gap: 4px;
}

.addition-list-controls button {
  width: 32px;
  padding: 6px;
  background-color: moccasin;
  border-style: none;
  color: peru;
  font-size: 18px;
}

/* TODO: вертикальное выравнивание с учетом интерлиньяжа текста */

.addition-list-controls button:hover {
  color: brown;
  background-color: navajowhite;
}

.addition-list-controls button:active {
  background-color: sandybrown;
}

.field-block {
  gap: 10px;
}

.form-block {
  padding: 20px;
  border-radius: 5%;
  background-color: antiquewhite;
  border: none;
}

button[type=submit] {
  height: 36px;
  border: none;
  border-radius: 8px;
  background-color: antiquewhite;
  border: none;
}