legend {
  color: brown;
  display: inline-table;
}

form,
fieldset,
.field-block {
  display: flex;
  flex-direction: column;
}

body {
  background-color: cornflowerblue;
}

main {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

form {
  width: 400px;
  background: linear-gradient(bisque, peru);
  padding: 25px 30px;
  border-radius: 15px;
  gap: 20px;
}

form :is(input, textarea) {
  width: 100%;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: brown;
  border-radius: 15px;
}

input:not([type=file]),
textarea {
  box-sizing: border-box;
  padding: 8px;
  border: none;
  border-radius: 6px;
}

button {
  box-sizing: border-box;
}

/* Выделить в компонент */
.addition-list-controls {
  display: flex;
  align-items: stretch;
  gap: 4px;
}

.addition-list-controls button {
  width: 32px;
}

.field-block {
  gap: 10px;
}

.field-block button {
  padding: 6px;
  border-color: none;
  outline: none;
}

.form-block {
  padding: 20px;
  border-radius: 5%;
}

button[type=submit] {
  height: 36px;
  border: none;
  border-radius: 8px;
}

.form-block,
button[type=submit] {
  background-color: antiquewhite;
  border: none;
}